<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32006644719-qgj2tnrn7bg8ptutb6tmdead7fl0mc45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32006644719-qgj2tnrn7bg8ptutb6tmdead7fl0mc45</string>
	<key>API_KEY</key>
	<string>AIzaSyAYzOs5W7OU5DaUcLbdELxdKM5qu67KYDk</string>
	<key>GCM_SENDER_ID</key>
	<string>32006644719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericroca.Smart-Grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-b14ed</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-b14ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32006644719:ios:b5757efa83a1a15e</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-b14ed.firebaseio.com</string>
</dict>
</plist>